@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white !important;
}



/* styles.module.css */
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(82vw);
  }
}

.move-container {
  white-space: nowrap;
  overflow: hidden;
  max-width: 90vw;
  margin-left: 9vw;
}

.move-left-to-right {
  display: inline-block;
  animation: moveLeftToRight 12s linear infinite;
}
